* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Poppins", sans-serif;
  background-color: rgb(116, 116, 116);
}

.avatar {
  background: linear-gradient(135deg, rgb(0, 255, 30) 0%, rgb(255, 0, 0) 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.text {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

header .cont {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cont {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: linear-gradient(135deg, rgb(0, 0, 255) 0%, rgb(0, 255, 0) 100%);
}

.avatar-logo {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s;
}

a:hover {
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
  transform: translateY(-10px);
}

.nav {
  display: flex;
  gap: 10px;
}

.hero {
  padding: 60px;
  text-align: center;
  background: linear-gradient(135deg, rgb(0, 0, 255) 0%, rgb(0, 255, 0) 100%);
  margin-bottom: 70px;
}

.hero h3 {
  transition: transform 0.3s;
}

.hero h3:hover {
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
  transform: translateY(-10px);
}

.main-hero h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.main-hero p {
  color: #ffffff;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.card {
  display: flex;
  margin-bottom: 30px;
  margin: auto;
  padding: 50px;
}

.foot {
  background: linear-gradient(135deg, rgb(0, 0, 255) 0%, rgb(0, 255, 0) 100%);
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.foot h3 {
  margin-bottom: 5px;
}
s
.foot p {
  margin-bottom: 10px;
}

.image img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

.image {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.image img:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
}


.brain {
  background: linear-gradient(135deg, rgb(0, 0, 255) 0%, rgb(0, 255, 0) 100%);
  padding: 15px;
  text-align: center;
}


.front img {
  width: 50px;
  height: 50px;
}